.myh2 {
    color: white;
}

.footerButton {
    background-color:   #14213D;
    border: #14213D;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .redesLogo {
    padding: 10px;

 }

 .redesLogo:hover {
   width: 90px;
   height: 90px;
 }