.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 30px auto;
    width: 350px;
    box-shadow: 7px 13px 37px white;
    border: 2px solid black;
    text-shadow: white;
    text-align: center;
    color: white;

}

.inputButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
    border-radius: 4px;
    margin: 5px;

}
.inputButton:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}



legend {
    text-align: center;
    margin-top: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.inputForm {
    text-align: center;
    width: 100%;

}