.containerFluid {
    background-color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    
}


@media (min-width:768px) {
    aside {
        color: aqua;
    }
}

@media (max-width: 375px) {
    .formulario {
        width: 250px;
    }
    }



h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
     text-align: center;
    @include cambios;
    margin-top: 10px;
    }
