.barraUno {
    background-image: linear-gradient(to left, #6d989e, #4c4c4c);
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    

}

