.containerPreguntas {
    margin: 10px;
    

}



.accordion {
    --bs-accordion-active-color:  #14213D;
    --bs-accordion-bg: #051434;
    --bs-accordion-btn-color: white;
    
}

.accordion-body {
    color: white;
}