.historia {
    text-align: center;
}

.parrafoHistoria {
    color: white;
    font-size: 22px;
    margin: 0 auto;
    padding: 20px;
}

.final {
    text-align: center;
    text-transform: uppercase;
    color: #14213D;
}


.contFrente {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgFrente {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 20px;
    border: 3px solid white;
}

